/* Reset default styles for input field and button */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#map {
    flex-grow: 1;
}

input, button {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Apply modern styles to the container */
.container {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox for layout */
    margin-bottom: 20px;
    margin-left: 20px;
}

/* Style the location input field to have 100% width */
.location-input {
    flex: 1; /* Take up remaining space in the container */
    border: none;
    background: transparent; /* Transparent background */
    color: #333; /* Text color */
}

/* Style the input placeholder text */
.location-input::placeholder {
    color: #999; /* Placeholder text color */
}

/* Add padding and margin to the input for spacing */
.location-input {
    padding: 10px;
    margin: 10px 0;
}

/* Style the search button */
.search-button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
}

/* Add some margin to the button for spacing */
.search-button {
    margin-left: 10px;
}

/* Style the button on hover */
.search-button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.topBar {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

@media (max-width: 768px) {
    .topBar {
        display: block;
    }
    .headline {
        text-align: center;
    }
    .subtext {
        text-align: center;
    }
    .container {
        margin: 0 auto; /* Center the container */
    }
}

.headline {
    font-size: 2rem;
    flex-grow: 0;
    margin-bottom: 20px;
}

.subtext {
    display: block;
    font-size: 1rem;
}