.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ffffff;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes slide {
  from {
    transform: rotate(-45deg);
    background-position-x: 0;
  }
  to {
    transform: rotate(-45deg);
    background-position-x: -4000px;
  }
}

.container {
  background-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg'>\
    <text x='0' y='98' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='198' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='298' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='398' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='498' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='598' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='698' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='798' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='898' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='998' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='1098' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
    <text x='0' y='1198' font-size='4em'>\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
        すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし すし\
    </text>\
  </svg>\
  ");
  background-repeat: repeat;
  background-size: auto;
  animation: 190s linear infinite slide;
  height: 200%;
  width: 200%;
  opacity: 0.04;
  z-index: 1;
  position: fixed;
}

@keyframes letterDelay {
  0% {
    animation-delay: 0s;
  }
  100% {
    animation-delay: 1s; /* Adjust this delay as needed */
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply animation classes to individual letters */
.animate-letters span {
  animation: slideIn 0.5s ease-in-out forwards, letterDelay 0.1s linear;
  transform-origin: left;
  opacity: 0;
}

$num-elements: 14; // Change this to the number of elements you have

// Define the base delay duration
$base-delay: 0.1s; // Adjust this value as needed

// Create a loop to generate animation delay classes for each element
@for $i from 1 through $num-elements {
  $animation-delay: $i * $base-delay;

  .animate-letters span:nth-child(#{$i}) {
    animation-delay: $animation-delay;
  }
}

@keyframes textAnimation {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

/* Apply animation class to the text */
.animate-text-size {
  display: inline-block;
  transform: scale(0.8);
  animation: textAnimation 10s ease-in-out infinite; /* Adjust the animation duration as needed */
}

.bottom-share-bar {
  height: 0px;
  padding: 0px;
  @apply transition-all;
  transition: all 3s;

  &.active {
    @apply p-4 h-4;
    height: auto;
  }
}

.overlay {
  opacity: 0;
  visibility: hidden;
  
  &.active {
    opacity: .7;
    visibility: visible;
  }
}